{% if  background or site.cover and page.class == 'home-template' %}
<style type="text/css">
    .responsive-header-img {
        background-image: url({% if background %}{{ background | strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %});
    }
    @media(max-width: 1000px) {
        .responsive-header-img {
            background-image: url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %});
            background-image: -webkit-image-set(url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 1x,
                url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 2x);
            background-image: image-set(url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 1x,
                url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 2x);
        }
    }
    @media(max-width: 600px) {
        .responsive-header-img {
            background-image: url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %});
            background-image: -webkit-image-set(url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 1x,
                url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}) 2x);
            background-image: image-set(url({{ site.cover  | relative_url }}) 1x,
                url({% if background %}{{ background |  strip | relative_url }}{% elsif page.cover %}{{ page.cover | relative_url}}{% endif %}}) 2x);
        }
    }
</style>
<div class="outer site-header-background responsive-header-img">

{% else %}

<div class="outer site-header-background no-image">

{% endif %}