<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.base_url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}">{{ site.data[site.active_lang].header.home }}</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}/about/">{{ site.data[site.active_lang].header.about }}</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}/tag/development/">{{ site.data[site.active_lang].header.development }}</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}/projects/">{{ site.data[site.active_lang].header.projects }}</a></li>
</ul>
