{% assign words_per_minute = site.words_per_minute | default: 200 %}

    <article class='post-card {% if page.next.class == "post-template" %} post {% else %} {{ page.next.class }} {% endif %}{% unless page.next.cover %} no-image{% endunless %}'>
        {% if page.next.cover %}
            <a class="post-card-image-link" href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{ page.next.url }}">
                <img class="post-card-image" src="{{ page.next.cover | relative_url }}"
                loading="lazy"
                    alt="{{ page.next.title }}"
                />
                <!-- TODO: review sourceset -->
            </a>
        {% endif %}
        <div class="post-card-content">
            <a class="post-card-content-link" href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{ page.next.url }}">
                <header class="post-card-header">
                    {% if page.next.tags.size > 0 %}
                        {% for tag in page.next.tags %}
                            {% if forloop.index == page.next.tags.size %}
                                <div class="post-card-primary-tag">{{ tag | capitalize }}</div>
                            {% else %}
                               <div class="post-card-primary-tag">{{ tag | capitalize }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <h2 class="post-card-title">{{ page.next.title }}</h2>
                </header>
                
                <section class="post-card-excerpt">
                    {%if page.next.cover %}
                        <p>{{ page.next.content |  truncatewords: 30, "" }}</p>
                    {% else %}
                        <p>{{ page.next.content | truncatewords: 44, "" }}</p>
                    {% endif %}
                </section>
                
            </a>
            <footer class="post-card-meta">
                <ul class="author-list">
                    {% for author in site.data.authors %}
                        {% if author[1].username == page.next.author %}
                        <li class="author-list-item">
                            <div class="author-name-tooltip">
                                {{  author[1].name }}
                            </div>
                            {% if author[1].picture %}
                                <a href="{{site.url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.next.author }}/"  class="static-avatar">
                                    <img class="author-profile-image" src="{{ author[1].picture | relative_url }}" alt="{{ author[1].name }}" />
                                </a>
                            {% else %}
                                <a href="{{site.url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.next.author }}/"  class="static-avatar">
                                    <img class="author-profile-image" src="{{ 'todo: blank.png' | relative_url }}" alt="{{ author[1].name }}" />
                                </a>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="post-card-byline-content">
                    <!-- TODO: SUpport multiple authors 
                    <span>{{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
                    -->
                    <span><a href="{{site.url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.next.author }}/">{{ page.next.author }}</a></span>

                    <span class="post-card-byline-date">
                        <time datetime="{{ page.next.date | date: '%Y-%m-%d %H:%M' }}">{{ page.next.date | date_to_string  }}</time> <span class="bull">&bull;</span> 
                        {% assign words = page.next.content | strip_html | number_of_words %}
                        {% if words <= words_per_minute %}
                        1 
                        {% else %}
                        {{ words | divided_by:words_per_minute }} 
                        {% endif %}
                        {{ site.data[site.active_lang].post-card-next.readTime }}      
                    </span>
                </div>
            </footer>
        </div>
    </article>
