{% assign words_per_minute = site.words_per_minute | default: 200 %}

    <article class="post-card {{ page.previous.class }}{% unless page.previous.cover %} no-image{% endunless %}">
        {% if page.previous.cover %}
            <a class="post-card-image-link" href="{{ page.previous.url  | relative_url | remove_first: '/' }}">
                <!-- TODO: Review SoruceSet -->
                <img class="post-card-image" 
                    loading="lazy" 
                    src="{{ page.previous.cover | relative_url }})"
                    alt="{{ page.title }}"
                />
            </a>
        {% endif %}
        <div class="post-card-content">
            <a class="post-card-content-link" href="{{ page.previous.url | relative_url | remove_first: '/' }}">
                <header class="post-card-header">
                    {% if page.previous.tags.size > 0 %}
                        {% for tag in page.previous.tags %}
                            {% if forloop.index == page.previous.tags.size %}
                                <div class="post-card-primary-tag">{{ tag | capitalize }}</div>
                            {% else %}
                            <div class="post-card-primary-tag">{{ tag | capitalize }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </header>
                <section class="post-card-excerpt">
                    {% if post.excerpt %}
                        <p>{{ post.excerpt | strip_html | truncatewords: 33, "" }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncatewords: 33, "" }}</p>
                    {% endif %}
                </section>
            </a>
            <footer class="post-card-meta">
                <ul class="author-list">
                    {% for author in site.data.authors %}
                        {% if author[1].username == page.previous.author %}
                        <li class="author-list-item">
                            <div class="author-name-tooltip">
                                {{  author[1].name }}
                            </div>
                            {% if author[1].picture %}
                            <a href="{{ 'author/' | relative_url }}{{ page.previous.author }}/"  class="static-avatar">
                                <img class="author-profile-image" src="{{ author[1].picture | relative_url }}" alt="{{ author[1].name }}" />
                            </a>
                            {% else %}
                            <a href="{{ 'author/' | relative_url }}{{ page.previous.author }}/"  class="static-avatar">
                                <img class="author-profile-image" src="{{ 'todo: blank.png' | relative_url }}" alt="{{ author[1].name }}" />
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="post-card-byline-content">
                    <!-- TODO: SUpport multiple authors 
                    <span>{{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
                    -->
                    <span>{{ page.previous.author }}</span>

                    <span class="post-card-byline-date">
                        <time datetime="{{ page.previous.date | date: '%Y-%m-%d %H:%M' }}">{{ page.previous.date | date: "%Y-%m-%d %H:%M" }}</time> <span class="bull">&bull;</span> 
                        {% assign words = post.content | strip_html | number_of_words %}
                        {% if words <= words_per_minute %}
                        1 
                        {% else %}
                        {{ words | divided_by:words_per_minute }} 
                        {% endif %}
                    </span>
                </div>
            </footer>
        </div>
    </article>
