<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">

            {% if site.logo %}
                <a class="site-nav-logo" href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}"><img src="{{ site.logo |  | relative_url }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{site.url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}">{{ site.title }}</a>
            {% endif %}
            <div class="site-nav-content">

                {% if page.navigation or page.current == 'error' %}
                    {% include navigation.html %}
                {% endif %}
                {% if page.current != 'home' and page.current != 'error' %}
                    {% if site.logo %}
                        <span class="nav-post-title">{{ page.title }}</span>
                    {% else %}
                        <span class="nav-post-title dash">{{ page.title }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.instagram %}
                <a class="social-link social-link-tw" href="https://www.instagram.com/{{ site.instagram }}" target="_blank" rel="noopener">{% include instagram.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">{{ site.data[site.active_lang].header.subscribe }}</a>
        {% endif %}
    </div>
</nav>
