<form data-members-form="subscribe" method="post" action="https://feedburner.google.com/fb/a/mailverify" method="post"
 target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ElBlogDeTarkil', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
 class="" >

    <div class="form-group">
        <input class="subscribe-email" type="email" validate name="email"  placeholder="{{ site.data[site.active_lang].subscription.emailPlaceholder }}" autocomplete="false"/>
        <button class="button primary" type="submit" {% unless site.subscribers %}disabled{% endunless %} onclick="$(this).parent('form').submit();  $('#subscribe').hide()">
            <span class="button-content"> {{ site.data[site.active_lang].subscription.subscribe }}</span>
            <span class="button-loader"></span>
        </button>
        <input type="hidden" value="ElBlogDeTarkil" name="uri"/>
        <input type="hidden" name="loc" value="{{ site.active_lang }}"/>
    </div>
    <div class="message-success">
        {{ site.data[site.active_lang].subscription.success }}      
    </div>
    <div class="message-error">
        {{ site.data[site.active_lang].subscription.error }}      
    </div>

</form>
