---
layout: default
current: author
title: Author Page
cover: false
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/logo.png'
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->
{% for author in site.data.authors %}
    {% if author[1].username == page.author %}
    <header class="site-archive-header">
        {% include site-header.html %}
        {% if author[1].cover %}
            {% capture background  %}  {{author[1].cover }}   {% endcapture %}
        {% endif %}
        {% include header-background.html  %}
            <div class="inner">
                <div class="site-header-content author-header">
                    {% if author[1].picture %}
                        <img class="author-profile-image" src="{{ author[1].picture  | relative_url }}" alt="{{ page.author }}" />
                    {% else %}
                        <span class="author-profile-image"><!-- TODO: set default image -->></span>
                    {% endif %}
                    <div class="author-header-content">
                        <h1 class="site-title">{{ author[1].name | capitalize }}</h1>
                        {% if author[1].bio %}
                            <h2 class="author-bio">{{ author[1].bio }}</h2>
                        {% endif %}
                        <div class="author-meta">
                            {% if author[1].location %}
                                <div class="author-location">{{ author[1].location }}</div>
                            {% endif %}
                            <div class="author-stats">
                                {% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}
                            </div>
                            {% if author[1].url %}
                                <span class="author-social-link"><a href="{{ author[1].url_full }}" target="_blank" rel="noopener">Website</a></span>
                            {% endif %}
                            {% if author[1].twitter %}
                                <span class="author-social-link"><a href="https://twitter.com/{{ author[1].twitter }}" target="_blank" rel="noopener">Twitter</a></span>
                            {% endif %}
                            {% if author[1].facebook %}
                                <span class="author-social-link"><a href="https://facebook.com/{{ author[1].facebook }}" target="_blank" rel="noopener">Facebook</a></span>
                            {% endif %}
                            {% if author[1].instagram %}
                                <span class="author-social-link"><a href="https://www.instagram.com/{{ site.instagram }}" target="_blank" rel="noopener"></a></span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}
{% endfor %}
<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>

    </div>
</main>
