---
layout: default
current: post
class: post-template
disqus: false
---

<header class="site-header">
    {% include site-header.html %}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">

                {% if page.tags.size > 0 %}
                <section class="post-full-tags">
                    {% for tag in page.tags %}
                        {% if forloop.index == page.tags.size %}
                        <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}tag/{{ tag | downcase | replace: ' ', '-' }}/">{{ tag | upcase }}</a>
                        {% else %}
                        <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}tag/{{ tag | downcase | replace: ' ', '-' }}/">{{ tag | upcase }}</a>,
                        {% endif %}
                    {% endfor %}
                </section>
                {% endif %}

                <h1 class="post-full-title">{{ page.title }}</h1>
                
                {% if  page.excerpt  %}
                    <div class="post-full-custom-excerpt">{{  page.excerpt }}</div>
                {% endif %}

                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        <ul class="author-list">
                            {% for author in site.data.authors %}
                                {% if author[1].username == page.author %}
                                    <li class="author-list-item">

                                        <div class="author-card">
                                            {% if author[1].picture %}
                                                <img class="author-profile-image" src="{{ author[1].picture | relative_url }}" alt="{{ page.author }}" />
                                            {% else %}
                                                <div class="author-profile-image"><!-- TODO: define default avatar --></div>
                                            {% endif %}
                                            <div class="author-info">
                                                {% if author[1].bio %}
                                                <div class="bio">
                                                    <h2>{{ author[1].username | capitalize }}</h2>
                                                    <p>{{ author[1].bio }}</p>
                                                    <p><a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.author }}">{{ site.data[site.active_lang].post.morePosts | capitalize }}</a> {{ site.data[site.active_lang].post.by }} {{ author[1].username }}.</p>
                                                </div>
                                                {% else %}
                                                <h2>{{name}}</h2>
                                                <p>{{ site.data[site.active_lang].post.read }} <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.author }}">{{ site.data[site.active_lang].post.morePosts | capitalize }}</a> {{ site.data[site.active_lang].post.thisAuthor }}</p>
                                                {% endif %}
                                            </div>
                                        </div>

                                        {% if author[1].picture %}
                                        <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.author }}" class="author-avatar">
                                            <img class="author-profile-image" src="{{ author[1].picture | relative_url }}" alt="{{name}}" />
                                        </a>
                                        {% else %}
                                        <a href="{{url}}" class="author-avatar author-profile-image"><!-- TODO: Define default avatar -->></a>
                                        {% endif %}

                                    </li>
                                {% endif %}
                            {% endfor %}                       
                        </ul>
                    
                        <section class="post-full-byline-meta">
                            {% for author in site.data.authors %}
                                {% if author[1].username == page.author %}
                                    <h4 class="author-name"><a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}author/{{ page.author }}/">{{ author[1].name }}</a></h4>
                                {% endif %}
                            {% endfor %}                           
                            <div class="byline-meta-content">
                                {% assign words_per_minute = site.words_per_minute | default: 200 %}

                                <time datetime="{{ page.next.date | date: '%Y-%m-%d %H:%M' }}">{{ page.date | date_to_string  }}</time> <span class="bull">&bull;</span> 
                                {% assign words = post.content | strip_html | number_of_words %}
                                {% if words <= words_per_minute %}
                                1 
                                {% else %}
                                {{ words | divided_by:words_per_minute }} 
                                {% endif %}
                                {{ site.data[site.active_lang].post.readTime }}
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {% if page.cover %}
            <figure class="post-full-image">
          
                <img
                
                    sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px"
                    src="{{ page.cover | relative_url }}"
                    alt="{{ page.title}}"
                />
            </figure>
            {% endif %}

            <section class="post-full-content">
                <div class="post-content">  
                    {% assign contentArray = content | markdownify | split: site.excerpt_separator  %}
                    {{ contentArray.last | prepend: "<p>"}}
                </div>
            </section>


            <!-- Email subscribe form at the bottom of the page -->
            {% if site.subscribers %}
                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">{{ site.data[site.active_lang].post.subscribe }} {{ site.title }}</h3>
                    <p class="subscribe-form-description">{{ site.data[site.active_lang].post.subscribeDescription }}</p>
                    {% include subscribe-form.html %}
                </section>
            {% endif %}

            <section class="post-full-comments">
                {% if site.disqus or page.disqus %}
                <section class="post-full-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ site.url }}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{  page.url  }}';
                            this.page.identifier = '{{ site.url }}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{  page.url  }}';
                            this.language = '{{  site.active_lang  }}'

                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section>
            {% endif %}
        </section>

        </article>

    </div>
</main>

<!-- Links to Previous/Next posts -->
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {% if page.tags.size > 0 %}
                {% assign primary = page.tags | first %}
                {% assign related_posts = 0 %}
                {% for post in site.posts %}
                  {% if post.tags.size > 0 %}
                      {% if post.tags contains primary %}
                        {% assign related_posts = related_posts | plus: 1 %}
                      {% endif %}
                  {% endif %}
                {% endfor %}
                {% if related_posts > 1 %}
                    <article class="read-next-card">
                        <header class="read-next-card-header">
                            {% if primary %}
                                <h3><span>{{ site.data[site.active_lang].post.moreIn }} <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}tag/{{ primary | downcase | replace: ' ', '-' }}/">{{ primary | capitalize }}</a></span></h3>
                            {% endif %}
                        </header>
                        <div class="read-next-card-content">
                            <ul>
                                {% assign count = 0 %}
                                {% for post in site.posts %}
                                  {% if post.tags contains primary %}
                                    {% if post.title != page.title %}
                                        {% assign count = count | plus: 1 %}
                                        {% if count <= 3 %}
                                            <li>
                                                <h4><a href="{{site.base_url}}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{ post.url }}">{{ post.title }}</a></h4>
                                                <div class="read-next-card-meta">
                                                    <p><time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}">{{ post.date | date_to_string  }}</time>
                                                        –
                                                        {% assign words = post.content | strip_html | number_of_words %}
                                                        {% if words <= words_per_minute %}
                                                        1 
                                                        {% else %}
                                                        {{ words | divided_by:words_per_minute }} 
                                                        {% endif %}
                                                        {{ site.data[site.active_lang].post.readTime }}</p>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <footer class="read-next-card-footer">
                            <a href="{{site.base_url}}/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}tag/{{ primary | downcase | replace: ' ', '-' }}/">
                                {% if related_posts > 1 %}
                                    {{ site.data[site.active_lang].post.seeAll }} {{ related_posts | minus: 1 }} {{ site.data[site.active_lang].post.posts }}  →
                                {% elsif related_posts == 1 %}
                                    {{ related_posts }} {{ site.data[site.active_lang].post.post }}  →
                                {% else %}
                                    {{ site.data[site.active_lang].post.noPost }}
                                {% endif %}
                            </a>
                        </footer>
                    </article>
                {% endif %}
            {% endif %}

            <!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs -->
            {% if page.next %}
                {% include post-card-next.html %}
            {% endif %}

            <!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs -->
            {% if page.previous %}
                {% include post-card-previous.html %}
            {% endif %}

        </div>
    </div>
</aside>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">
</script>
<script src="{{ base.url | prepend: site.url }}/assets/built/casper.js"></script>
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>
